@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
html, body {
  @apply bg-gray-900 text-white;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

h1 {
  font-weight: 700;
  letter-spacing: -0.03em;
}

h2 {
  font-weight: 600;
  letter-spacing: -0.02em;
}

h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -0.01em;
}

p {
  @apply font-body;
}

/* Swiper Pagination */
.swiper-pagination-custom, .swiper-pagination-reviews {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.swiper-pagination-custom .swiper-pagination-bullet, 
.swiper-pagination-reviews .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.6);
  width: 12px;
  height: 12px;
  margin: 0 4px;
  opacity: 1;
  transition: background-color 0.3s;
}

.swiper-pagination-custom .swiper-pagination-bullet-active, 
.swiper-pagination-reviews .swiper-pagination-bullet-active {
  background-color: #ffbb1a;
}

/* Neon Text Effect */
.neon-text-yellow {
  text-shadow: 0 0 8px rgba(255, 187, 26, 0.8),
               0 0 16px rgba(255, 187, 26, 0.6),
               0 0 24px rgba(255, 187, 26, 0.6),
               0 0 32px rgba(255, 187, 26, 0.6);
}

/* Pixelated Font */
@font-face {
  font-family: 'PixelFont';
  src: url('/fonts/pixel-font.ttf') format('truetype');
}

.pixel-font {
  font-family: 'PixelFont', sans-serif;
}

.bg-fixed {
  background-attachment: fixed;
}

.glow-effect {
  box-shadow: 0 0 10px #fbbf24, 0 0 20px #fbbf24, 0 0 30px #fbbf24;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #fbbf24, 0 0 10px #fbbf24, 0 0 15px #fbbf24;
  }
  to {
    box-shadow: 0 0 10px #fbbf24, 0 0 20px #fbbf24, 0 0 30px #fbbf24;
  }
}
/* Reserve space for an element */
.element-placeholder {
  min-height: 200px;
}

/* CSS for the video container */
.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Aspect ratio for 16:9 videos */
  position: relative;
}
@keyframes loading-bar {
  0% { width: 0; }
  20% { width: 20%; }
  40% { width: 40%; }
  60% { width: 60%; }
  80% { width: 80%; }
  100% { width: 100%; }
}

.animate-loading-bar {
  animation: loading-bar 0.8s ease-in-out;
}
